<div class="container">

    <h2>The users I know</h2>

    <table class="table table-striped">
        <thead>
            <th>firstname</th>
            <th>name</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstname}}</td>
                <td>{{user.name}}</td>

            </tr>
        </tbody>
    </table>

    <h2>Inserting new users</h2>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">first name</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstname">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
        </div>

        <input class="btn btn-primary" (click)="insertUser()" value="Insert">
    </form>

</div>